.btn {
  height: 50px;
  border-radius: 2rem;
  padding: 0 20px;
}

.btn-secondary {
  color: white;
  background-color: #1b5b31;
}

.btn-secondary:hover {
  background-color: #29894b;
}

.btn-outline-secondary {
  color: #1b5b31;
}

.btn-outline-secondary:hover {
  color: #f5f0ec;
  background-color: #1b5b31;
}

.btn-light {
  color: #1b5b31;
  background-color: #f5f0ec;
}

.btn-light:hover {
  color: #1b5b31;
  background-color: #bbb9b8;
}

.btn-outline-light {
  color: #f5f0ec;
}

.btn-outline-light:hover {
  color: #1b5b31;
  background-color: #f5f0ec;
}
