.btn {
  height: 50px;
  border-radius: 2rem;
  padding: 0 20px;
}

.btn-success {
  color: white;
  background-color: #1b5b31;
}

.btn-success:hover {
  background-color: #237640;
}

.btn-light {
  background-color: #f5f0ec;
}
