.btn {
  height: 50px;
  border-radius: 2rem;
  padding: 0 15px;
}

.btn-secondary {
  color: #f5f0ec;
  background-color: #1b5b31;
  border: none;
}

.btn-secondary:hover {
  background-color: #29894b;
}

.btn-secondary:active {
  background-color: #216e3c !important;
}

.btn-outline-secondary {
  color: #1b5b31;
}

.btn-outline-secondary:hover {
  color: #f5f0ec;
  background-color: #29894b;
}

.btn-outline-secondary:active {
  background-color: #216e3c !important;
}

.btn-light {
  color: #1b5b31;
  background-color: #f5f0ec;
}

.btn-light:hover {
  color: #1b5b31;
  background-color: #bbb9b8;
}

.btn-light:active {
  color: #1b5b31 !important;
}

.btn-outline-light {
  color: #f5f0ec;
}

.btn-outline-light:hover {
  color: #1b5b31;
  background-color: #f5f0ec;
}

.btn-outline-light:active {
  color: #1b5b31 !important;
}

.btn-link {
  color: #1b5b31;
  padding: 0;
  transition: 0.3s;
}

.btn-link:hover {
  color: #29894b;
  transform: scale(1.1);
}

.btn-outline-dark {
  color: #111;
}

.btn-outline-dark:hover {
  background-color: #111;
}

.btn:hover {
  animation: bounce-button 1s infinite;
}

@keyframes bounce-button {
  40% {
    transform: scale(0.9, 1.1);
  }
  60% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(0.9, 1.1);
  }
}
