.card {
  max-width: 378px;
  padding: 48px 40px;
  margin: 20px;
  border-radius: 28px;
  transition: 0.3s;
  text-decoration: none;
}

.card:hover,
.card:hover button {
  transform: scale(1.1);
}

.card-icon {
  width: 44px;
  height: 44px;
  margin-bottom: 32px;
}

.card-body {
  padding: 0;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 40px;
}

.card-text button {
  animation: none !important;
}

.card:hover .eye img {
  animation: close-eye 1s 2;
}

.card:hover .pencil img {
  animation: move-pencil 1s 2;
}

.card:hover .stars img {
  animation: move-stars 1s 2;
}

@keyframes move-pencil {
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(0deg);
  }
}

@keyframes close-eye {
  30% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 0.1);
  }
  55% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1, 0.1);
  }
  85% {
    transform: scale(1, 1);
  }
}

@keyframes move-stars {
  25% {
    transform: scale(1.2, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0.5, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
