body {
  font-family: "Inter", sans-serif;
}

.bg-primary {
  background-color: #dcc1ab !important;
}

.bg-secondary {
  color: #f5f0ec;
  background-color: #1b5b31 !important;
}

.bg-success {
  background-color: #f5f0ec !important;
}

.offer {
  padding: 0 200px;
}

@media (max-width: 992px) {
  .offer {
    padding: 30px;
  }
}

.carousel-item img {
  object-fit: cover;
  height: 737px;
  object-position: right;
}
