.nav-link {
  color: #111111;
  border-radius: 2rem;
}

.nav-link:hover {
  color: white;
  background-color: #216e3c;
  border-radius: 2rem;
}

.nav-link.show:hover {
  color: white;
  background-color: #216e3c;
}

.dropdown-item:hover {
  color: white;
  background-color: #216e3c;
}
