.search-container {
  position: relative;
  width: 40px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  overflow: hidden;
}

.search-container.active {
  width: 280px;
}

.search-button {
  position: relative;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}

.search-button:hover {
  color: white;
  background-color: #1b5b31;
  border-radius: 2rem;
}

.search-input {
  height: 100%;
  display: flex;
}

.search-close {
  position: relative;
  background-color: #1b5b31;
  border-radius: 2rem;
  color: white;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-close:hover {
  background-color: #237640;
}
